.inspirational-verse {
    text-align: center;
    background-color: #DC3F45;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 5rem;
    border-radius: 10px;
}

/*H.2-EC Create the submission form, verse columns and headers*/
/* Table columns
================================== */
.col-header {
    text-align: center
}

.first-col {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.second-col {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    cursor: pointer;
}

.third-col {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Rtable {
    display: flex;
    flex: 1 1 100%;
    margin: 0 0 1em 0;
    padding: 0;
}

.Rtable-cell {
    box-sizing: border-box;
    flex-grow: 1;
    padding: 1em 1em;
    overflow: hidden;
    list-style: none;
}

.cell-background {
    background-color: aliceblue;
}