/*C.1-8*/
.inspirational-verse {
    text-align: center;
    background-color: #DC3F45;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 5rem;
    border-radius: 10px;
}